<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>amit levy</title>
        <link rel="openid.server" href="https://openid.mappend.net/" />
        <link rel="openid2.provider" href="https://openid.mappend.net/" />
        <link rel="openid.delegate" href="http://amitlevy.com/" />
        <link rel="openid2.local_id" href="http://amitlevy.com/" />
	<link rel="shortcut icon" href="favicon.png" />
	<script src="scripts/jquery-1.4.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="scripts/jquery.history.js" type="text/javascript" charset="utf-8"></script>
	<script src="scripts/menu.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" />
	<meta name="author" content="Amit Levy">
        <meta name="description" content="A fourth year Computer Science PhD student in the Secure Computer Systems group at Stanford. Research, publications, projects and contact information.">
</head>
<body>
<div id="container">
<div id="navbar">
  <h1><a href="#">Amit Levy</a></h1>
  <div id="short_info">
    <p>
      <strong>PhD Student</strong><br/>
      <a href="http://www.cs.stanford.edu" title="Stanford CS">
        Computer Science
      </a>
      <br/>
      <a href="http://www.stanford.edu" title="Stanford">Stanford</a><br/>
    </p>

    <p>
      353 Serra Mall, Room 288<br/>
      Stanford, CA 94305
    </p>
    <p>
      <img src="images/email.png" style="height: 1.5em;"/><br/>
      <small>
        GPG
        <a href="gpg.public.key">
          A211 AA8C B817 13AF 6352  F8B5 838F A1C7 17F6 0F73
        </a>
      </small>
    </p>

  </div>
  <ul id="menu" class="horizontal">
    <li><a href="#about">About</a></li>
    <li><a href="#research">Research</a></li>
    <li><a href="#publications">Publications</a></li>
    <li><a href="#talks">Talks</a></li>
    <li><a href="#code">Code</a></li>
    <li><a href="#personal">Personal</a></li>
    <!--li><a href="https://mappend.net">Blog</a></li-->
  </ul>
</div>
<div id="content">
  <div id="about">
    <%= yield(:about) %>
  </div>

  <div id="research">
    <%= yield(:research) %>
  </div>

  <div id="publications">
    <%= yield(:publications) %>
  </div>

  <div id="academic">
    <%= yield(:academic) %>
  </div>

  <div id="teaching">
    <%= yield(:teaching) %>
  </div>

  <div id="talks">
    <%= yield(:talks) %>
  </div>

  <div id="code">
    <%= yield(:code) %>
  </div>

  <div id="personal">
    <%= yield(:personal) %>
  </div>
</div>
<div id="footer">
  <p id="updated">Updated: <%= Time.now.strftime("%m-%d-%Y %I:%M%p") %></p>
  <p id="copyleft">
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="images/creative-commons.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
  </p>
</div>
</div>
</body>
</html>
